.main-content {
    max-width: 1035px;
    margin: 40px auto;
    display: grid;
    grid-column-gap: 35px;
    grid-template-columns: 500px auto;
}

    .main-content .result {
        width: 500px;
        height: 500px;
        border: 1px solid #c2d1d9;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }

        .main-content .result svg {
            width: 3rem;
            height: 3rem;
            position: absolute;
            top: calc(50% - 1.5rem);
            left: calc(50% - 1.5rem);
        }

        .main-content .result .download {
            position: absolute;
            z-index: 1;
        }

        .main-content .result .result-area {
            width: 100%;
            height: 100%;
        }

            .main-content .result .result-area img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: relative;
            }

            .main-content .result .result-area i {
                color: var(--secondary);
                font-size: 8rem;
                position: absolute;
                top: calc(50% - 4rem);
                left: calc(50% - 4rem);
            }

    .main-content .try-it {
        width: 500px;
        padding: 40px 0 50px 0;
    }

        .main-content .try-it h1 {
            color: #53626c;
            font-size: 2.3rem;
        }

        .main-content .try-it h2 {
            color: #53626c;
            font-size: 2rem;
        }

        .main-content .try-it .description {
            color: #1d2129;
            font-size: 14px;
            opacity: 0.85;
            margin: 50px 0 30px 0;
        }

.card-img-responsive {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    object-fit: cover;
}

.data {
    padding: 20px;
    margin: 0 auto;
    position: relative;
    color: white;
    background-color: #404041;
    border-radius: 8px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}

    .data img {
        width: 270px;
        height: 270px;
        object-fit: contain;
    }

@media screen and (max-width:1190px) {
    .main-content {
        grid-column-gap: 24px;
    }
}

@media screen and (max-width:960px) {
    .main-content {
        max-width: 600px;
        grid-column-gap: 35px;
        grid-template-columns: 300px auto;
    }

        .main-content .result {
            width: 300px;
            height: 300px;
            margin: 50px 0 0;
        }

        .main-content .try-it {
            width: 300px;
        }
}

@media screen and (max-width:600px) {
    .main-content {
        max-width: 300px;
        display: block;
    }

        .main-content .try-it {
            width: auto;
        }

    .data img {
        width: 220px;
        height: 220px;
    }

    .card-img-responsive {
        display: none;
    }
}