@page
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "Super Resolution";
}

<form method="post" asp-page="Index" enctype="multipart/form-data">
    Fundus Image
    <br />
    <input type="file" name="file" accept="image/*" />
    <input type="submit" value="Upload" />
    @if (Model.ImageBytes != null)
    {
        <img src="@string.Format("data:image/jpeg;base64,{0}", Convert.ToBase64String(Model.ImageBytes))" />
    }
</form>