@page
@model Web.Pages.IndexModel
@{
    ViewData["Title"] = "The front page of AI";
}

<a asp-page="/MachineLearningModel/SuperResolution/Index" asp-route-architecture="SRResNet MSE">Super Resolution SRResNet MSE</a>
<a asp-page="/MachineLearningModel/SuperResolution/Index" asp-route-architecture="SRGAN MSE">Super Resolution SRGAN MSE</a>
<a asp-page="/MachineLearningModel/SuperResolution/Index" asp-route-architecture="SRResNet SSIM">Super Resolution SRResNet SSIM</a>