@inherits LayoutComponentBase

@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
            <BarBrand>
                <BarItem>
                    <BarItem>
                        <BarLink Class="navbar-brand font-weight-bold" To="/">
                            <img src="/images/logo.png" />
                            <span class="align-middle">Fundus AI</span>
                        </BarLink>
                    </BarItem>
                </BarItem>
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarEnd>
                    <BarItem>
                        <AuthorizeView>
                            <Authorized>
                                <Button Color="Color.Secondary" Clicked="(() => ServiceProvider.Get<SessionProvider>().LogoutAsync())">LOGOUT</Button>
                                <Button Color="Color.Primary">PROFILE</Button>
                            </Authorized>
                            <NotAuthorized>
                                <Button Color="Color.Secondary" Clicked='(() => NavigationManager.NavigateTo("/account/login"))'>LOGIN</Button>
                                <Button Color="Color.Primary" Clicked='(() => NavigationManager.NavigateTo("/account/register"))'>REGISTER</Button>
                            </NotAuthorized>
                        </AuthorizeView>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter>
        <p>&copy; 2021 - Fundus AI</p>
    </LayoutFooter>
</Layout>