@inherits LayoutComponentBase

@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager

<PageTitle Value="The front page of AI | Fundus AI" />

<Layout>
    <LayoutHeader>
        <Bar Breakpoint="Breakpoint.Desktop" Background="Background.Light" ThemeContrast="ThemeContrast.Light">
            <BarBrand>
                <BarItem>
                    <BarItem>
                        <BarLink Class="navbar-brand font-weight-bold" To="/">
                            <img src="/images/logo.png" />
                            <span class="align-middle">Fundus AI</span>
                        </BarLink>
                    </BarItem>
                </BarItem>
            </BarBrand>
            <BarToggler />
            <BarMenu>
                <BarStart>
                    <BarItem>
                        <BarLink To="/datasets">Datasets</BarLink>
                    </BarItem>
                </BarStart>
                <BarEnd>
                    <BarItem>
                        <AuthorizeView>
                            <Authorized>
                                <Button Color="Color.Secondary" Clicked='(async () => { await ServiceProvider.Get<SessionProvider>().LogoutAsync(); NavigationManager.NavigateTo(NavigationManager.Uri, true); })'>
                                    Logout
                                </Button>
                                <Button Color="Color.Primary" Clicked='(() => NavigationManager.NavigateTo("/account"))'>
                                    Account
                                </Button>
                            </Authorized>
                            <NotAuthorized>
                                <Button Color="Color.Secondary" Clicked='(() => NavigationManager.NavigateToAndReturn("/login"))'>
                                    Login
                                </Button>
                                <Button Color="Color.Primary" Clicked='(() => NavigationManager.NavigateToAndReturn("/register"))'>
                                    Register
                                </Button>
                            </NotAuthorized>
                        </AuthorizeView>
                    </BarItem>
                </BarEnd>
            </BarMenu>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <LayoutFooter>
        <p>&copy; 2021 - Fundus AI</p>
    </LayoutFooter>
</Layout>