<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Fundus AI</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico">
    <link rel="icon" type="image/x-icon" href="~/icon.ico">

    <environment names="Development">
        <bundle name="wwwroot/bundles/site.min.css" />
    </environment>
    <environment names="Staging,Production">
        <bundle name="wwwroot/bundles/site.min.css" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand font-weight-bold">
                    <img class="d-inline-block align-text-bottom" src="~/images/logo.png" />
                    Fundus AI
                </a>
            </div>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>&copy; 2021 - Fundus AI</p>
    </footer>

    <environment names="Development">
        <bundle name="wwwroot/bundles/site.min.js" />
    </environment>
    <environment names="Staging,Production">
        <bundle name="wwwroot/bundles/site.min.js" />
    </environment>
</body>
</html>