main {
    max-width: 1100px;
    margin: 40px auto 0;
    display: grid;
    grid-column-gap: 35px;
    grid-template-columns: 500px auto;
}

    main h1 {
        color: #53626c;
        font-size: 2.3rem;
    }

    main .try-it {
        width: 500px;
        height: 500px;
        border: 1px solid #c2d1d9;
        border-radius: 8px;
        overflow: hidden;
    }

        main .try-it .result-area {
            width: 100%;
            height: 100%;
        }

            main .try-it .result-area .placeholder-image {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

    main .info {
        width: 500px;
        padding: 40px 0 50px 0;
    }

        main .info .description {
            color: #1d2129;
            font-size: 14px;
            opacity: 0.85;
            margin: 50px 0 30px 0;
        }

        main .info .input-file {
            width: 0px;
            height: 0px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        main .info .btn-file {
            color: #1c1622;
            border: 2px solid var(--secondary);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

            main .info .btn-file:hover {
                border-color: var(--primary);
            }

            main .info .btn-file:focus, .btn-file.focus {
                border-color: var(--primary);
                box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
            }

            main .info .btn-file .icon-file:before {
                content: "\f093";
            }

        main .info .has-file .icon-file:before {
            content: "\f00c";
            color: #5aac7b;
        }

footer {
    padding: 20px 20px 1px 20px;
    background-color: #f1f5f8;
}

    footer p {
        color: #a3a8ac;
        text-align: center;
        font-size: 12px;
    }

@media screen and (max-width:960px) {
    main {
        max-width: 600px;
        grid-template-columns: 300px auto;
    }

        main .try-it {
            width: 300px;
            height: 300px;
            margin: 50px 0 0;
        }

        main .info {
            width: 300px;
        }
}

@media screen and (max-width:600px) {
    main {
        max-width: 300px;
        display: block;
    }

        main .info {
            width: auto;
        }
}