section.home {
    height: 442px;
    background-color: var(--primary);
}

    section.home .title {
        max-width: 1150px;
        margin: 0 auto;
    }

    section.home img {
        margin: 55px 18px 20px 0;
    }

    section.home h1 {
        color: white;
        font-size: 3.6rem;
        margin: 55px 0 20px 0;
        display: inline-flex;
    }

    section.home p {
        color: white;
        margin: 28px 0;
        font-size: 1.8rem;
        line-height: 34px;
    }

@media screen and (max-width: 1190px) {
    section.home .title {
        max-width: 900px;
    }
}

@media screen and (max-width: 960px) {
    section.home .title {
        max-width: 750px;
    }
}

@media screen and (max-width: 600px) {
    section.home {
        height: 325px;
    }

        section.home .title {
            max-width: 325px;
        }

        section.home img {
            display: none;
        }

        section.home h1 {
            font-size: 2.4rem;
            margin: 40px 0 0 0;
        }

        section.home p {
            font-size: 1rem;
            line-height: 22px;
        }
}

@media screen and (max-width: 320px) {
    section.home {
        height: 325px;
    }

        section.home .title {
            max-width: 300px;
        }
}

section.search .main-content {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    top: -126px;
    background: white;
    border: 1px solid #c2d1d9;
    border-radius: 8px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

@media screen and (max-width: 1190px) {
    section.search .main-content {
        max-width: 900px;
    }
}

@media screen and (max-width: 960px) {
    section.search .main-content {
        max-width: 750px;
    }
}

@media screen and (max-width: 600px) {
    section.search .main-content {
        max-width: 325px;
    }

    section.search .main-content {
        top: -90px;
    }
}

@media screen and (max-width: 320px) {
    section.search .main-content {
        max-width: 300px;
    }
}

section.model {
    max-width: 1100px;
    margin: 40px auto 0;
    display: grid;
    grid-column-gap: 35px;
    grid-template-columns: 500px auto;
}

    section.model h1 {
        color: #53626c;
        font-size: 2.3rem;
    }

    section.model h2 {
        color: #53626c;
        font-size: 2rem;
    }

    section.model .result {
        width: 500px;
        height: 500px;
        border: 1px solid #c2d1d9;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }

        section.model .result .result-area {
            width: 100%;
            height: 100%;
        }

            section.model .result .result-area img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                position: relative;
            }

            section.model .result .result-area i {
                color: var(--secondary);
                font-size: 8rem;
                position: absolute;
                top: calc(50% - 4rem);
                left: calc(50% - 4rem);
            }

            section.model .result .result-area svg {
                width: 3rem;
                height: 3rem;
                position: absolute;
                top: calc(50% - 1.5rem);
                left: calc(50% - 1.5rem);
            }

    section.model .try-it {
        width: 500px;
        padding: 40px 0 50px 0;
    }

        section.model .try-it .description {
            color: #1d2129;
            font-size: 14px;
            opacity: 0.85;
            margin: 50px 0 30px 0;
        }

@media screen and (max-width:960px) {
    section.model {
        max-width: 600px;
        grid-template-columns: 300px auto;
    }

        section.model .result {
            width: 300px;
            height: 300px;
            margin: 50px 0 0;
        }

        section.model .try-it {
            width: 300px;
        }
}

@media screen and (max-width:600px) {
    section.model {
        max-width: 300px;
        display: block;
    }

        section.model .try-it {
            width: auto;
        }
}

section.statistics {
    top: 100px;
    max-width: 950px;
    margin: 0 auto;
    position: relative;
    padding: 0 0 0 80px;
    color: #cecece;
    background-color: #2e2e30;
    border-radius: 8px;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}

    section.statistics .inner-content {
        padding: 20px;
        border-radius: 0 8px 8px 0;
        background-color: #404041;
    }

@media screen and (max-width: 600px) {
    section.statistics {
        padding: 0 0 0 30px;
    }
}

section.slash {
    min-height: 200px;
    background-color: var(--primary);
}

footer {
    padding: 20px 20px 1px 20px;
    background-color: #f1f5f8;
}

    footer p {
        color: #a3a8ac;
        text-align: center;
        font-size: 12px;
    }

.form-control .invalid {
    border-color: #dc3545;
}

.form-control .valid {
    border-color: #28a745;
}

.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.btn-file {
    border: 2px solid var(--secondary);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .btn-file:hover:not(.disabled) {
        border-color: var(--primary);
    }

    .btn-file:focus:not(.disabled), .btn-file.focus:not(.disabled) {
        border-color: var(--primary);
        box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
    }

    .btn-file .icon-file:before {
        content: "\f093";
    }

.has-file .icon-file:before {
    content: "\f00c";
    color: #5aac7b;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path-background {
    stroke: rgba(194, 209, 217, 0.5);
    stroke-dasharray: 140;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite;
}

.path-foreground {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 47;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes colors {
    0% {
        stroke: #4285f4;
    }

    25% {
        stroke: #de3e35;
    }

    50% {
        stroke: #f7c223;
    }

    75% {
        stroke: #1b9a59;
    }

    100% {
        stroke: #4285f4;
    }
}