.btn:focus, .btn.focus {
    box-shadow: none !important;
}

footer {
    padding: 20px 20px 1px 20px;
    background-color: #f1f5f8;
}

    footer p {
        color: #a3a8ac;
        text-align: center;
        font-size: 12px;
    }

.form-control .invalid {
    border-color: #dc3545;
}

.form-control .valid {
    border-color: #28a745;
}

.validation-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.btn-download {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 20px 20px 0px;
    border-radius: 8px;
    border: 1px solid rgba(194, 209, 217, 0.6);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}

    .btn-download:active {
        width: 49px;
        height: 49px;
        margin: 21px 21px 0px;
        box-shadow: none;
    }

    .btn-download i {
        font-size: 2rem;
        position: relative;
        top: calc(50% - 0.85rem);
        left: calc(50% - 0.85rem);
    }

.custom-file {
    display: none;
}

.btn-file {
    border: 2px solid var(--secondary);
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .btn-file:hover:not(.disabled) {
        border-color: var(--primary);
    }

    .btn-file:focus:not(.disabled), .btn-file.focus:not(.disabled) {
        border-color: var(--primary);
        box-shadow: 0 0 0 0.2rem rgba(173, 181, 189, 0.5);
    }

    .btn-file .icon-file:before {
        content: "\f093";
    }

.has-file .icon-file:before {
    content: "\f00c";
    color: #5aac7b;
}

.spinner {
    animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path-background {
    stroke: rgba(194, 209, 217, 0.5);
    stroke-dasharray: 140;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite;
}

.path-foreground {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 47;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

@keyframes colors {
    0% {
        stroke: #4285f4;
    }

    25% {
        stroke: #de3e35;
    }

    50% {
        stroke: #f7c223;
    }

    75% {
        stroke: #1b9a59;
    }

    100% {
        stroke: #4285f4;
    }
}